.projects {
  padding: 1rem 0;
  background-color: #f4f7f9;
}

.projects h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* GRID DOS CARDS */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  align-items: stretch;
}

/* CARD */
.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 680px; /* ALTURA FIXA */
}

.card:hover {
  transform: translateY(-5px);
}

/* IMAGEM */
.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* CONTEÚDO */
.cardContent {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;      
}

.cardContent h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cardContent p {
  flex-grow: 1;        
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  overflow: hidden;     
}

/* LINKS */
.links {
  display: flex;
  gap: 1rem;
  margin-top: auto;  
}

/* Botões */
.links a {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.links a:hover {
  background-color: #0056b3;
}

/* Botão GitHub */
.links a:first-of-type {
  background-color: #333;
}

.links a:first-of-type:hover {
  background-color: #555;
}
