.contact {
    padding: 1rem 0;
    background-color: #333;
    color: #f4f7f9;
    text-align: center;
  }
  
  .contact h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .contact p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .contactLinks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .contactButton {
    background-color: transparent;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
  }
  
  .contactButton:hover {
    transform: translateY(-3px);
  }


  .footer p{
    font-size: 15px;
  }